Ihr #{config.product_name}-Passwort wurde geändert

<div>Hallo #{user.fullname},</div>
<br>
<div>das Passwort für Ihr #{config.product_name}-Konto <b>#{user.login}</b> wurde kürzlich geändert.</div>
<br>
<div>Wenn Sie diese Änderung nicht veranlasst haben, wenden Sie sich bitte an Ihren Systemadministrator.</div>
<br>
<div>Ihr #{config.product_name}-Team</div>
