Votre mot de passe pour #{config.product_name} a été modifié !

<p>Bonjour #{user.firstname},</p>
<br>
<p>Le mot de passe de votre compte sur #{config.product_name} <b>#{user.login}</b> a été modifié récemment.</p>
<br>
<p>Si vous n'êtes pas à l'origine de cette demande, merci de contacter votre administrateur.</p>
<br>
<p>L'équipe #{config.product_name}</p>
