La password su #{config.product_name} è stata modificata.

<p>Ciao #{user.firstname},</p>
<br>
<p>La password del tuo account <b>#{user.login}</b> su #{config.product_name} è stata cambiata di recente.</p>
<br>
<p>Se non hai effettuato tu questa modifica, contatta il tuo amministratore di sistema.</p>
<br>
<p>Il team di #{config.product_name}</p>
