Ваш пароль #{config.product_name} был изменен

<p>Здравствуйте, #{user.firstname},</p>
<br>
<p>Пароль к Вашей учётной записи #{config.product_name} <b>#{user.login}</b> был недавно изменён.</p>
<br>
<p>Если Вы не инициировали это изменение, пожалуйста, свяжитесь с Вашим системным администратором.</p> <br> <p>
<br>
<p>Ваша команда #{config.product_name}</p>
