Opdateret ticket artikel (#{ticket.title})

<div>Hej #{recipient.firstname},</div>
</div>
<div>
<%= @objects[:article].preferences.dig('whatsapp', 'reaction', 'author') %> reagerede med en <%= @objects[:article].preferences.dig('whatsapp', 'reaction', 'emoji') %> på en besked fra #{article.created_by.fullname}:
</div>
<br>
<% if @objects[:article] %>
  <div>
    <blockquote type="cite">
    #{article.body_as_html}
    </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="#{config.http_type}://#{config.fqdn}/#ticket/zoom/#{ticket.id}/#{article.id}" target="zammad_app">Se dette i #{config.product_name}</a>
</div>
